<html>
  <body>
    <div class="Page-Container">
    <h1>All Notes</h1>
    <table cellspacing="5">
      <thead>
        <tr id="no-hover">
          <th>Id</th>
          <th>Notebook</th>
          <th>Comment</th>
          <th>Category</th>
          <th>Completed</th>
          <th>User Email</th>
        </tr>
      </thead>
      <tbody>
      <% @all_notes.each do |note| %>
          <tr class="Table-Row">
            <td><a href='/notes/<%= note.id %>'><%= note.id %></a></td>
            <td><%= note.notebook.present? ? note.notebook.title : nil %></td> 
            <td><%= note.comment %></td> 
            <td><%= note.category %></td>
            <td><%= note.completed %></td>
            <td><%= note.user.email %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </body>
</html>
