<html>
  <body>
    <div class="Page-Container">
      <h1>Specific Task</h1>
      <div>
        <table>
          <thead>
            <tr id="no-hover">
              <th>Id</th>
              <th>Description</th>
              <th>Completed</th>
              <th>Due At</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%=@task.id%></td>
              <td><%=@task.description%></td>
              <td><%=@task.completed%></td>
              <td><%=@task.due_at%></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br>
      <div>
        <form method="post" action="/tasks/<%=@task.id%>">
          <div>
            <input type="text" name="description" placeholder="<%=@task.description%>" />
          </div>
          <div>
            <input type="boolean" name="completed" placeholder="<%=@task.completed%>" />
          </div>
          <div>
            <input type="date" name="due_at" placeholder="<%=@task.due_at%>" />
          </div>
        </form>
      </div>
      <div>
        <input id="create-button" type="submit" />
      </div>
      <div>
        <form method="post" action="/tasks/<%=@task.id%>/delete">
          <div>
            <input id="remove-button" type="submit" value="Delete" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>

