<html>
  <body>
    <div class="Page-Container">
    <h1>Specific User</h1>
    <div>
      <table>
        <thead>
          <tr id="no-hover">
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
          </tr>
        </thead>
      <tbody>
          <tr>
            <td><%=@user.id%></td>
            <td><%=@user.first_name%></td>
            <td><%=@user.last_name%></td>
            <td><%=@user.email%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <br>
    <div>
      <form method="post" action="/users/<%=@user.id%>">
        <div>
          <input type="text" name="first_name" placeholder="<%=@user.first_name%>" />
        </div>
        <div>
          <input type="text" name="last_name" placeholder="<%=@user.last_name%>" />
        </div>
        <div>
          <input type="text" name="email" placeholder="<%=@user.email%>" />
        </div>
      </form>
    </div>
    <div>
      <input id="create-button" type="submit" />
    </div>
    <div>
      <form method="post" action="/users/<%=@user.id%>/delete">
        <div>
          <input id="remove-button" type="submit" value="Delete" />
        </div>
      </form>
    </div>
  </body>
</html>

